title Proto-chat
meta(name="description" content="Proto-chat")
meta(name="author" content="Mseong")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.2/css/bootstrap.min.css')
link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
link(rel='stylesheet' href='public/style.css')