doctype html
html
    include shared/head.pug
    body
        h1 Proto Chat #{nickname}
        .container
            .row 
                .list-group.col-sm-6#user-list
                    include component/list-group-item.pug
                .col-sm-6#user-chat
                    p click!

        include component/modal.pug

                            

      





        a(href='/logout') Logout 
        p #{message}
        script(src='/socket.io/socket.io.js')
        script(src='https://code.jquery.com/jquery-3.3.1.min.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.2/js/bootstrap.min.js")
        script(src='/public/list-group-item.js')
        script(src='/public/modal.js')
        script(src='/public/card-self.js')
        script(src='/public/card-not-self.js')
        script(src='/public/script.js')
        
