doctype html
html
    include shared/head.pug
    body
        .container
            .row
                .offset-sm-2.col-sm-8.offset-md-0.col-md-6.offset-lg-1.col-lg-5.p-0
                    header.chat-header.pt-4
                        div.d-flex.pl-4.pb-3
                            span.fa.fa-user-circle-o.fa-3x.mr-auto.fa-user-circle-o-custom
                            div.d-flex.flex-column.justify-content-end.mr-4
                                a(href='#')
                                    span.fa.fa-cog.fa-lg
                    section.chat-nickname.d-flex.justify-content-end.pt-2.pb-2
                        h5.mr-3.mb-0 #{nickname}
                    section.chat-body.pt-2.pb-2
                        .list-group.list-group-flush#user-list
                            include component/list-group-item.pug
                    footer.chat-footer.pl-4.pr-4.pt-2.pb-2.d-flex
                        a(href='/logout').mr-auto.mt-1
                            span.fa.fa-sign-out.fa-lg
                        span.fa.fa-lg.fa-search.mt-2


        include component/modal.pug

        script(src='/socket.io/socket.io.js')
        script(src='https://code.jquery.com/jquery-3.3.1.min.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.2/js/bootstrap.min.js")
        script(src='/public/list-group-item.js')
        script(src='/public/modal.js')
        script(src='/public/card-self.js')
        script(src='/public/card-not-self.js')
        script(src='/public/card-date.js')
        script(src='/public/script.js')
        
