doctype html
html
    include shared/head.pug
    body
        .container
            .row
                .col-sm-6
                    .login-logo.d-sm-flex
                        img(src='/public/chat-icon-2.png')
                        h1  Proto Chat
                .col-sm-6
                    header.login-header
                        img(src='/public/chat-icon-2.png')
                        h3  Proto Chat
                    section
                        h5 Login
                        form(action="/login" method="POST")
                            .form-group
                                label(for="username").sr-only
                                input(type="text" name="username" placeholder="Username" required).form-control
                            .form-group
                                label(for='password').sr-only
                                input(type="password" name="password" placeholder="Password" required).form-control
                            button(type="submit").btn.btn-block.btn-custom Submit
                        p.divider
                            span or
                           

                        a(href='/auth/google').btn.btn-block.btn-light.btn-google-custom
                            img(src='/public/google-icon.png').google-logo-custom
                            |
                            |
                            span Login with Google
                        a(href='/auth/facebook').btn.btn-block.btn-primary 
                            span.fa.fa-facebook
                            |
                            |
                            span Login with Facebook
                        hr
                        div.text-center
                            p.mb-2 Don't have an account?      
                                a(href='/signup') Signup
                        div(class="alert "+status).mb-0.pt-2.pb-2 #{message}
                            
                            
