.d-flex.justify-content-start
    .card.card-custom-2
        .card-body.d-flex.card-body-custom
            p.mb-0.mr-4 #{value.text}
            p.mb-0.mr-1 
                - var date= new Date(new Date(value.time).toLocaleString('en-US', { timeZone: 'Asia/Singapore'}))
            p.mb-0.text-nowrap
                span.small.mr-1  #{date.getHours()+':'+String(date.getMinutes()).padStart(2, '0')}    