each value in private
    button(id='user'+value._id data-toggle='modal' data-target='#chat'+value._id).list-group-item= value.nickname 
        span(id='badge'+value._id class='badge-'+status.class).badge.badge-pill #{status.msg}