each value in private
    div(id='chat'+value._id tabindex='-1').modal.fade
        .modal-dialog 
            .modal-content.modal-content-custom
                .modal-header.modal-header-custom
                    //-becareful in amending the following id #header-nickname, .text() needed in db operation under 'private message' 
                    span(style='vertical-align:middle').fa.fa-2x.fa-user-circle.mr-3
                    h5.mb-0#header-nickname #{value.nickname}     
                    button(type='button' data-dismiss='modal').close
                        span.fa.fa-arrow-left.fa-arrow.left-custom
                .modal-body.modal-body-custom
                    - var chat=value.chat
                    
                    each value,index in chat
                        - var currentLocalDate
                        - var currentDate
                        - var valueLocalDate = new Date(new Date(value.time).toLocaleString('en-US', { timeZone: 'Asia/Singapore'}))
                        - var valueDate = new Date(valueLocalDate.getDate()+' '+valueLocalDate.toLocaleString('default', { month: 'long' }).substring(0,3)+' '+valueLocalDate.getFullYear().toString().substr(-2))
                        if index===0
                            - currentLocalDate = valueLocalDate
                            - currentDate = valueDate
                            include card-date.pug
                            if value.self
                                include card-self.pug 
                            else 
                                include card-not-self.pug
                        else if index !==0 && valueDate.getTime()===currentDate.getTime()
                            if value.self
                                include card-self.pug 
                            else 
                                include card-not-self.pug
                        else if index !==0 && valueDate.getTime()>currentDate.getTime()
                            - currentLocalDate = valueLocalDate
                            - currentDate = valueDate
                                include card-date.pug
                                if value.self
                                    include card-self.pug 
                                else 
                                    include card-not-self.pug  
                                       
                .modal-footer.d-block.p-2
                    form(onsubmit="formOnSubmit(event)" id='form'+value._id)
                        .form-row
                            .col-2.col-sm-1
                                button.btn.btn-light
                                    span.fa.fa-plus
                            .col-7.col-sm-8
                                input(type='text' id='input'+value._id required).form-control
                            .col-2.col-sm-1
                                button(type='submit' onclick='formOnClick(event)' id='submit'+value._id data-socket=value.socketID).btn.btn-dark
                                    span.fa.fa-arrow-right