a:hover {
  text-decoration:none;
}

/*Login and Signup page*/
.login-logo {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:100vh;
  background-color:#3AAFA9;
  display:none;
  color:white;
  
}
.login-logo img {
  width:150px;
}

.login-header {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:30vh;
  color:black;
}
.login-header img {
  height:15vh;
}


.btn-custom {
  color:white;
  background-color:#3AAFA9
}
.btn-google-custom {
  border-color:#ccc;
}

.divider {
  position:relative;
  text-align:center;
  margin-top:10px;
  margin-bottom:10px;
}
  
.divider span {
  display:inline-block;
  padding:0 10px;
  background:#fff;
  color:grey;
}
.divider:before {
  content:"";
  display:block;
  position:absolute;
  z-index:-1;
  left:0;
  right:0;
  top:50%;
  height:1px;
  background:#ccc;
}
.google-logo-custom {
  width:15px;
}

/*Chat page*/

.chat-header {
  background-color:#3AAFA9;
  display:flex;
  flex-direction:column;
  justify-content:end;
  color:white;
}
.chat-header a  {
  color:white;
}
.chat-nickname {
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
  box-shadow:0px 2px 2px #ccc;
}
.chat-body {
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
  height:65vh;
  overflow-y:auto;
  overflow-x:hidden;

}
.chat-footer {
  background-color:#3AAFA9;
  color:white;
}
.chat-footer a {
  color:white;
}

.list-group-item-custom {
  border-color:transparent;
}
.badge-custom {
  border-radius:50%;
  background-color:black;
  width:10px;
  height:10px
}
.badge-custom.badge-success {
  background-color:#32CD32;
}
.text-truncate-custom {
  width:150px;
  color:#AAA;
}

@media (min-width: 576px) {
  .fa-user-circle-o-custom {
    font-size:4em;
  }

}

/*Modal*/
.modal-body-custom{
  height:60vh;
  overflow:auto;
}

.modal-header-custom {
  background-color:#3AAFA9;
  box-shadow:0px 2px 2px #ccc;
}
.modal-content-custom {
  color:white;
}
.close-custom {
  line-height:normal;
}
.small-custom {
  font-size:60%;
}

/*--Card--*/
.card-custom-1,
.card-custom-2 {
  margin-top:0.2rem;
  margin-bottom:0.2rem;
}

.card-custom-1 {
  background-color:#426E86;
  max-width:75%;
  
}
.card-custom-2 {
  color:black;
  max-width:75%;
  box-shadow:0px 2px 2px #ccc;
}

.card-body-custom {
  padding:0.3rem;
}




