a:hover {
  text-decoration:none;
}

.card-custom-1,
.card-custom-2 {
  margin-top:0.5rem;
  margin-bottom:0.5rem;
}

.card-custom-1 {
  background-color:#F9BA32;
  max-width:75%;
  
}
.card-custom-2 {
  background-color:#3AAFA9;
  max-width:75%;
}

.card-body-custom {
  padding:0.6rem;
  
}
.modal-body-custom{
  height:60vh;
  overflow:auto;
}

.modal-header-custom {
  background-color:#3AAFA9
}
.modal-content-custom {
  color:white;
}
.close-custom {
  line-height:normal;
}
.small-custom {
  font-size:60%;
}
/*Login page*/
.login-logo {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:100vh;
  background-color:#3AAFA9;
  display:none;
  position:relative;
  z-index:1;
  
}
.login-logo img {
  width:150px;
  position:relative;
  z-index:3;
}
.login-logo h1 {
  position:relative;
  z-index:3;
}

.talk-bubble {
  position:absolute;
  background-color:white;
  width:300px;
  height:220px;
  z-index:2;
  top:210px;
  border-bottom-right-radius:40px;
  border-top-right-radius:40px;
  box-shadow:5px 5px #ccc;
}

.talk-bubble:after {
  content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
  right: auto;
  top: auto;
	bottom: -180px;
	border: 35px solid;
	border-color: transparent transparent transparent white;
  position:relative;
  z-index:2;
}


.login-header {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:27vh;
  position:relative;
  color:black;
}
.login-header img {
  width:100px
}


.btn-custom {
  color:white;
  background-color:#3AAFA9
}
.btn-google-custom {
  border-color:#ccc;
}

.divider {
  position:relative;
  text-align:center;
  margin-top:10px;
  margin-bottom:10px;
}
  
.divider span {
  display:inline-block;
  padding:0 10px;
  background:#fff;
  color:grey;
}
.divider:before {
  content:"";
  display:block;
  position:absolute;
  z-index:-1;
  left:0;
  right:0;
  top:50%;
  height:1px;
  background:#ccc;
}
.google-logo-custom {
  width:15px;
}


