.card-custom {
  margin-top:0.5rem;
  margin-bottom:0.5rem;
}

.card-body-custom {
  padding:0.5rem
}
.vh-60{
  height:60vh;
}


.chat-custom {
  border:1px solid rgba(0,0,0,.125);
  border-radius:0.25rem;
}